################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Blog
/Core/obj/Debug/netcoreapp2.1
